body {
  direction: rtl;
  background: #999;
  font:13px/1.231 Arial;
}
pre {
	direction: ltr;
}
pre, code, kbd, samp { font-family: monospace, sans-serif; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
.clearfix:after  { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }

#container {
	width: 800px;
	margin:50px auto 200px;
	padding:50px;
	background:#fff;
}

pre {
	display:block;
	border:1px solid #ccc;
	background:#f8f8f8;
	margin-bottom:2em;
	padding: 1em;
}

section { margin-bottom: 4em; }

.demo {
	padding: 50px;
	border:1px solid #ccc;
	font-weight:bold;
	color: red;
	background:#d0d0d0;
	font-size:20px;
	line-height:1.5;
	text-align:center;
}
.demo .demo-text {font-size:72px; margin: 0;}

#letters-demo .char2 {color: orange;}
#letters-demo .char3 {color: yellow;}
#letters-demo .char4 {color: green;}
#letters-demo .char5 {color: blue;}
#letters-demo .char7 {color: indigo;}
#letters-demo .char8 {color: violet;}
#letters-demo .char10 {color: orange;}

#ligatures-demo .plig2 {color: orange;margin-right: -.2em;}
#ligatures-demo .plig4 {color: yellow;}
#ligatures-demo .plig5 {color: green;vertical-align: .15em;}

#words-demo .word2 {color: orange;}
#words-demo .word3 {color: yellow;}
#words-demo .word4 {color: green;}

#lines-demo .line2 {color: orange;}
#lines-demo .line3 {color: yellow;}
#lines-demo .line4 {color: green;}

#chain-demo .word1 .plig2 { margin: -.2em; }
#chain-demo .word2 { color: orange; vertical-align: .6em; margin-right: -.6em; }
#chain-demo .word2 .plig2 { vertical-align: .5em; }
